/* .add-post__wrapper {
  margin-top: 5rem;
  width: 100%;
}
.add-post__container {
  width: 600px;
  margin: auto;
}
#create-post {
  margin-top: 1rem;
}
img {
  margin-top: 1rem;
  width: 300px;
  height: auto;
}
.image-container {
  display: flex;
}
i.fa-star {
  color: #f5a027;
}
i.fa-star:hover {
  cursor: pointer;
}
textarea,
select,
input {
  margin-bottom: 0.5rem;
} */
