.add-post__wrapper {
  width: 100%;
}
.add-post__container {
  width: 600px;
  margin: auto;
  margin-top: 2rem;
}
#create-post {
  margin-top: 1rem;
}
img {
  margin-top: 1rem;
  width: 300px;
  height: auto;
}
.image-container {
  display: flex;
}
